{% extends 'base.html' %}
{%  block content %}
<div ng-controller="users">
    <div class="row">
      <div class="col-sm-2 col-md-2">
          <label for="pagination" class="text-capitalize">pagination:</label>
          <select name="pagination" ng-model="pagination" ng-change="$emit('pagination', pagination)" class="form-control">
              <option value="">Choose an option</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>
      </div>
      <div class="col-sm-8 col-md-7">
          <pagination total-items="totalItems" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" ng-click="$emit('currentPage', currentPage)" class="pagination-sm pagination-md" boundary-links="true"></pagination>
      </div>
      <div class="col-sm-2 col-md-3">
          <form ng-submit="$emit('searchText', searchText)">
              <div class="input-group">
                  <input type="text" ng-model="searchText" class="form-control" placeholder="Search me!" required/>
                  <span class="input-group-btn">
                    <button type="submit" class="text-capitalize btn btn-primary">search</button>
                  </span>
              </div>
          </form>
      </div>
    </div>
    <div class="row ng-cloak">
      {% raw %}
      <div class="col-sm-6 col-md-4" ng-repeat="user in users">
        <div class="thumbnail">
          <img class="avatar img-responsive" ng-src="/static/img/{{ user.gender }}.png" alt="User avatar" />
            <div class="caption text-capitalize">
              <h3>{{ user.username }}</h3>
              <p>{{ user.name }} {{ user.last_name }}</p>
              <button class="text-capitalize btn btn-info" ng-click="info($index)">more info</button>
      {% endraw %}
              {% if current_user.has_role('update') %}
              {% raw %}
              <button class="text-capitalize btn btn-warning" ng-click="update($index)">update</button>
              {% endraw %}
              {% endif %}
              {% if current_user.has_role('delete') %}
              {% raw %}
              <button class="text-capitalize btn btn-danger" ng-click="remove($index)">delete</button>
              {% endraw %}
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <!-- Info user's modal -->
    <script type="text/ng-template" id="info.html">
        <div class="modal-header">
            <h3 class="modal-title text-uppercase-first-letter">info user</h3>
        </div>
        {% raw %}
        <div class="modal-body">
            <div class="row">
                <img class="avatar img-responsive" ng-src="/static/img/{{ user.gender }}.png" alt="User avatar"/>
                <div class="avatar-text">
                    <h3 class="text-capitalize">{{ user.name }} {{ user.last_name }}</h3>
                    <dl class="dl-horizontal">
                      <dt>username</dt>
                      <dd>{{ user.username }}</dd>
                      <dt>name</dt>
                      <dd class="text-capitalize">{{ user.name }}</dd>
                      <dt>last name</dt>
                      <dd class="text-capitalize">{{ user.last_name }}</dd>
                      <dt>gender</dt>
                      <dd class="text-capitalize">{{ user.gender }}</dd>
                      <dt>dni</dt>
                      <dd ng-if="user.dni" class="text-capitalize">{{ user.dni }}</dd>
                      <dd ng-if="!user.dni" class="text-capitalize">none</dd>
                      <dt>email</dt>
                      <dd>{{ user.email }}</dd>
                      <dt>birth of date</dt>
                      <dd>{{ user.birth_date }}</dd>
                      <dt>created at</dt>
                      <dd>{{ user.created_at.$date | date:"dd/MM/yyyy 'at' HH:mm:ss" }}</dd>
                      <dt>roles</dt>
                      <dd class="text-capitalize">{{ user.roles }}</dd>
                      <dt>active</dt>
                      <dd ng-if="user.active == true" class="text-capitalize"><span class="label label-success">true</span></dd>
                      <dd ng-if="user.active == false" class="text-capitalize"><span class="label label-dange">false</span></dd>
                    </dl>
                </div>
            </div>
        </div>
        {% endraw %}
        <div class="modal-footer">
            <button class="btn btn-primary text-capitalize" ng-click="cancel()">go back</button>
        </div>
    </script>
    <!-- Update user's modal -->
    <script type="text/ng-template" id="update.html">
        <div class="modal-header">
            <h3 class="modal-title text-uppercase-first-letter">edition user</h3>
        </div>
        <div class="modal-body">
            <form class="form form-horizontal" name="form" role="form" ng-submit="updateUser(user, form.$valid)" novalidate>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1 text-right">
                        <label class="control-label text-capitalize">name <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="name" class="form-control" ng-model="user.name" ng-pattern="regex.name" placeholder="Introduce your name" required />
                        <span class="text-danger" ng-show="form.name.$error.pattern">Your name is not valid. Minimum 3 characters.</span>
                        <span class="text-danger" ng-show="form.name.$invalid && !form.name.$pristine">This field is required!.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1 text-right">
                        <label class="control-label text-capitalize">last name <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" ng-pattern="regex.last_name" placeholder="Introduce your last name" required />
                        <span class="text-danger" ng-show="form.last_name.$error.pattern">Your lastname is not valid. Minimum 3 characters.</span>
                        <span class="text-danger" ng-show="form.last_name.$invalid && !form.last_name.$pristine">This field is required!.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1 text-right">
                        <label class="control-label text-capitalize">gender</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline"><input type="radio" name="gender" ng-model="user.gender" value="male">Male</label>
                        <label class="radio-inline"><input type="radio" name="gender" ng-model="user.gender" value="female">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1 text-right">
                        <label class="control-label text-uppercase">dni</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="dni" class="form-control" ng-pattern="regex.dni" ng-model="user.dni" placeholder="Introduce your dni" />
                        <span class="text-danger" ng-show="form.dni.$error.pattern">Your dni is not valid. 8 numbers and 1 character.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1 text-right">
                        <label class="control-label text-capitalize">email <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Introduce your email" required/>
                        <span class="text-danger" ng-show="form.email.$error.pattern">Your email is not valid.</span>
                        <span class="text-danger" ng-show="form.email.$invalid && !form.email.$pristine">This field is required!.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1 text-right">
                        <label class="control-label text-capitalize">birth of date <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="birth_date" class="form-control" ng-model="user.birth_date" ng-pattern="regex.birth_date" placeholder="DD/MM/YYYY" required />
                        <span class="text-danger" ng-show="form.birth_date.$error.pattern">Your birth of date is not valid.</span>
                        <span class="text-danger" ng-show="form.birth_date.$invalid && !form.birth_date.$pristine">This field is required!.</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success text-uppercase" ng-disabled="form.$invalid" ng-click="updateUser(form.$valid)">ok</button>
            <button class="btn btn-primary text-capitalize" ng-click="cancel()">cancel</button>
        </div>
    </script>
    <!-- Remove user's modal -->
    <script type="text/ng-template" id="remove.html">
        <div class="modal-body">
            <h3 class="modal-title text-uppercase-first-letter">are you sure?</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success text-uppercase" ng-click="ok()">ok</button>
            <button class="btn btn-primary text-capitalize" ng-click="cancel()">cancel</button>
        </div>
    </script>
</div>
{% endblock %}
{% block scripts %}
<script defer type="text/javascript" src="/static/js/controllers/users.js"></script>
{% endblock %}
